body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}
header {
  width: 1500px;
  height: 150px;
  background-color: #008000;
  position: relative;


}
.inner {
  /* display: flex; */
}
.logo img{
  width: 150px;
  height: 150px;
  display: flex;
}
.sub-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;

}